.main-container {
    font-family: 'Lato', sans-serif;
    font-style: normal;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 28px 28px 28px;

    margin-top: 17%;
    gap: 38px;

    @include mobile-layout {
        margin-top: 10%;
        padding: 8px;
        gap: 10px;
    }

    @include small-tablet-layout {
        padding: 25px;
        margin-top: 10%;
        gap: 10px;
    }
}