//colors
$bkg: #FFFFFF;
$fontColor: #2A577E;
$articalHeaderAndBorderColor: #0460A9;
$rticalParagraphText: #1E0D38;
$dotts: rgb(49, 47, 47);

//imgs
$imgFak: "https://s3-alpha-sig.figma.com/img/f1b5/4832/b61c33330acc426cf80724a71080e2d8?Expires=1656288000&Signature=J32YvqiMwOcaXIE0FS6jCcN8hwAA9IJja6hJcRKxry0Mnj9eAUhtWLH0bogApXkT7NQvanFhMTdE4fcv8FjX3taSSjTMWMKxRvD6QW6sNUSRDrnKvaipkkahzRteCGYYDn6i2XZEh7DF~1poujaZvrcmDXUPDcNlQRQ2DvMXv1D0E3GnsfNPpeM70Or6QCDGZsjlrgfJ7fM69qB0~X7AMyNr3AfayiJ0kVUE5H4m2LU3ccpBnbVlKy89AMmQe20pw9Bq2bsUGhjGlAtjVjBmfTPuc9ATStAeQBoJdxtyf3PMJfFz2W3C3akz9DQwqxV2mp16V2gTKVHyLoLQBXItAQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA";


//breakpoints
$mobile-breakpoint: 500px;
$small-tablet-breakpoint: 998px;
$tablet-breakpoint: 1200px;
$desktop-breakpoint: 1400px;